@font-face {
  font-weight: bold;
  font-family: "Montserrat";
  font-style: normal;

  src: url("../fonts/montserrat-bold-webfont.woff2") format("woff2"),
  url("../fonts/montserrat-bold-webfont.woff") format("woff");
}

@font-face {
  font-weight: normal;
  font-family: "Montserrat";
  font-style: normal;

  src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2"),
  url("../fonts/montserrat-regular-webfont.woff") format("woff");
}

@font-face {
  font-weight: normal;
  font-family: "Playfair Display";
  font-style: italic;

  src: url("../fonts/playfairdisplay-italic-webfont.woff2") format("woff2"),
  url("../fonts/playfairdisplay-italic-webfont.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Raleway";
  font-style: normal;

  src: url("../fonts/raleway-bold-webfont.woff2") format("woff2"),
  url("../fonts/raleway-bold-webfont.woff") format("woff");
}

@font-face {
  font-weight: normal;
  font-family: "Raleway";
  font-style: normal;

  src: url("../fonts/raleway-regular-webfont.woff2") format("woff2"),
  url("../fonts/raleway-regular-webfont.woff") format("woff");
}

@font-face {
  font-weight: 600;
  font-family: "Raleway";
  font-style: normal;

  src: url("../fonts/raleway-semibold-webfont.woff2") format("woff2"),
  url("../fonts/raleway-semibold-webfont.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
}
