.about {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 180px;
}

.about__description {
  position: relative;

  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 49%;
  margin-top: 413px;
  margin-bottom: 43px;
  padding-top: 96px;
  padding-right: 100px;

  background-color: #ffffff;
}

.about__content {
  display: flex;
  flex-direction: column;
  width: 370px;
}

.about__title {
  position: relative;

  align-self: center;
  margin: 0;
  margin-left: 15px;

  font-weight: normal;
  font-size: 18px;
  font-family: "Montserrat", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.7px;

  &::after {
    content: "";
    position: absolute;
    bottom: -21px;
    left: 44%;

    box-sizing: border-box;
    width: 17px;
    height: 1px;

    border: 1px solid #000000;
    transform: rotate(45deg);
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -21px;
    left: 44%;

    box-sizing: border-box;
    width: 17px;
    height: 1px;

    border: 1px solid #000000;
    transform: rotate(-45deg);
  }
}

.about__text {
  margin-top: 52px;

  font-size: 22px;
  line-height: 38px;
  font-family: "Playfair Display", "Georgia", serif;
  font-style: italic;
}

.about__link {
  display: block;
  align-self: flex-start;
  margin-top: 2px;

  font-size: 16px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: #00b0ff;
  text-decoration: none;

  border-bottom: 2px solid #00b0ff;

  &:hover {
    color: #de00ff;

    border-color: #de00ff;
  }

  &:active {
    color: #a800ff;

    border-color: #a800ff;
  }
}

.about__video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 300px;
  margin-left: 70px;

  background-image: url("../img/video.jpg");
  background-repeat: no-repeat;
  box-shadow: 30px 30px 100px 0 rgba(0, 0, 0, 0.3);
}

.about__video-button {
  width: 90px;
  height: 90px;
  padding: 24px;

  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;

  transition: all 0.2s;

  &:hover {
    padding: 35px;

    transform: scale(0.9);
  }

  &:active {
    padding: 24px;
  }
}
