.button {
  padding: 12px 30px;

  font-size: 14px;
  line-height: 21px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.4px;

  background-color: #00b0ff;
  cursor: pointer;

  &:hover {
    background-color: #de00ff;
  }

  &:active {
    background-color: #a800ff;
  }
}
