.instagram {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
  padding-top: 57px;

  background-image: url("../img/caption-instagram.svg");
  background-repeat: no-repeat;
}

.instagram__picture-link {
  font-size: 0;
}

.instagram__picture {
  width: 310px;
  height: 310px;

  transition: all 0.2s;

  &:hover {
    transform: translateY(-10px);
  }
}

.instagram__link {
  position: relative;

  display: flex;
  align-items: center;
  width: 100%;
  padding: 19px 68px;

  font-size: 0;
  text-decoration: none;

  background-color: #ffffff;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 20px;

    width: 29px;
    height: 29px;

    background-image: url("../img/icon-widget-instagram.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%);
  }
}

.instagram__follow {
  font-weight: bold;
  font-size: 24px;
  font-family: "Roboto condensed", "Arial", sans-serif;
  color: #00b0ff;
  text-transform: uppercase;
}

.instagram__profile {
  margin-left: 18px;

  font-size: 16px;
  font-family: "Raleway", "Arial", sans-serif;
  color: #000000;
}
