.page-footer__info-container {
  width: 100%;
  margin-top: 30px;

  background-color: #000000;
}

.page-footer__info {
  @include container;

  display: flex;
  justify-content: space-between;
}

.page-footer__copyright {
  margin-top: 251px;

  font-size: 12px;
  font-family: "Raleway", "Arial", sans-serif;
  color: #4d4d4d;
  letter-spacing: 0.5px;
}

.page-footer__navigation-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 344px;
  min-height: 420px;
  margin-top: 35px;
  margin-right: 156px;
  padding-bottom: 106px;
}

.page-footer__navigation {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
}

.page-footer__navigation-item {
  position: relative;

  box-sizing: border-box;
  width: 50%;
  padding-left: 28px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    width: 20px;
    height: 20px;

    background-image: url("../img/icon-zigzag-footer.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%);
  }
}

.page-footer__navigation-link {
  font-size: 14px;
  line-height: 34px;
  font-family: "Raleway", "Arial", sans-serif;
  color: #ffffff;
  text-decoration: none;

  transition: all 0.2s;

  &:hover {
    color: #4c4c4c;
  }
}

.page-footer__subscribe-title {
  margin-bottom: 12px;

  font-size: 16px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: #ffffff;
  letter-spacing: 0.2px;
}

.page-footer__subscribe-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  padding-bottom: 5px;

  border-bottom: 1px solid #4d4d4d;
}

.page-footer__email-input {
  width: 300px-22px;
  padding-left: 26px;

  font-size: 14px;
  color: #ffffff;

  background-color: transparent;
  background-image: url("../img/icon-mail-footer.svg");
  background-repeat: no-repeat;
  background-position: center left;
  border: none;
}

.page-footer__submit-button {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  margin: 0;
  padding: 0;

  background-color: #00b0ff;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  transition: all 0.2s;

  &:hover {
    background-color: #ffffff;

    & .page-footer__submit-icon {
      fill: #0022ff;
    }
  }
}

.page-footer__submit-icon {
  width: 15px;
  height: 15px;

  fill: #ffffff;
}
