.product {
  @include container;

  position: relative;

  width: 1106px;
}

.product__inner {
  @include container;

  display: flex;
  flex-direction: row;
  width: 1030px;
  height: 600px;
  margin-bottom: 180px;
  overflow: hidden;

  background-color: #ffffff;
  box-shadow: 0 0 50px 0 #000000;


  &::after {
    content: "";
    position: absolute;
    top: -6px;
    right: 38px;

    width: 82px;
    height: 613px;

    background-image: url("../img/caption-boards.svg");
    background-repeat: no-repeat;
  }
}

.product__slider {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 535px;
  height: 100%;
  padding-left: 28px;

  background-image: linear-gradient(130deg, #00d2ff 48.5%, #ffffff 48.5%);
}

.product__image {
  width: 413px;
  height: 528px;
  margin-top: 15px;
}

.product__preview-images {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 5px;
}

.product__preview-image {
  box-sizing: border-box;
  width: 70px;
  height: 70px;
  margin-bottom: 3px;
  overflow: hidden;

  border: 1px solid #cccccc;

  &--active {
    border: 3px solid #00b0ff;
  }
}

.product__description {
  position: relative;

  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-right: 50px;
  padding-left: 49px;
}

.product__title {
  margin-bottom: 7px;

  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  font-family: "Montserrat", "Arial", sans-serif;
}


.product__nav {
  position: absolute;
  top: 49px;
  right: 0;
  z-index: 10;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 96px;
}

.product__nav-btn {
  width: 38px;
  height: 39px;

  background-color: #f2d800;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  cursor: pointer;

  &--prev {
    background-image: url("../img/icon-left-arrow-white.svg");
  }

  &--next {
    background-image: url("../img/icon-right-arrow-white.svg");
  }

  &:hover {
    background-color: #de00ff;
  }

  &:active {
    background-color: #a800ff;
  }
}

.product__page-counter {
  align-self: flex-start;
  margin-right: 38px;
  padding: 11px 9px;

  font-size: 14px;
  line-height: 16px;
  font-family: "Montserrat", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;

  background-color: #000000;
}

.product__purchasing {
  display: flex;
  flex-direction: row;
  margin-top: 14px;
}

.product__price {
  display: block;
  margin-top: 9px;
  margin-right: 28px;
  margin-left: -1px;

  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  font-family: "Montserrat", "Arial", sans-serif;
}

.product__link {
  position: absolute;
  bottom: 50px;

  align-self: flex-start;

  font-size: 16px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: #00b0ff;
  text-decoration: none;

  border-bottom: 2px solid #00b0ff;

  &:hover {
    color: #de00ff;

    border-color: #de00ff;
  }

  &:active {
    color: #a800ff;

    border-color: #a800ff;
  }
}
