.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.rating__input {
  display: none;
}

.rating__label {
  padding-right: 2px;

  font-size: 15px;
  color: #ffffff;

  cursor: pointer;
}

.rating__label::before {
  content: "☆";

  color: #000000;
}

.rating__input:checked ~ .rating__label::before {
  content: "★";

  color: #f2d800;
}

.rating > .rating__label:hover::before,
.rating > .rating__label:hover ~ .rating__label::before {
  content: "★";

  color: #ff6374;
}

.rating__counter {
  align-self: center;
  margin-left: 4px;

  font-size: 12px;
  line-height: 15px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: #787878;
}
