@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tabs {
  padding-top: 35px;

  font-size: 0;
  z-index: 1;
}

.tabs__navigation {
  @include list-reset;
  border-bottom: 1px solid #d9d9d9;
}

.tabs__item {
  display: inline-block;
  margin-right: 28px;
  padding-bottom: 4px;
  margin-bottom: -1px;

  &--active {
    color: #000000;

    border-bottom: 4px solid #00b0ff;
    cursor: default;
  }
}

.tabs__link {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  font-family: "Raleway", "Arial", sans-serif;
  color: #787878;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    color: #00b0ff;
  }
}

.tabs__content {
  overflow: auto;
  max-height: 250px;
}

.tabs__text {
  display: none;

  &--active {
    padding-top: 7px;

    font-size: 16px;
    line-height: 24px;
    font-family: "Raleway", "Arial", sans-serif;
    color: #787878;

    animation-name: fadeIn;
    animation-duration: 1s;

    animation-fill-mode: both;
    display: block;
  }
}

//
// .tabs__input {
//   position: absolute;
//
//   display: none;
// }
//
// .tabs__label {
//   display: inline-block;
//   margin-right: 28px;
//   padding-bottom: 4px;
//
//   font-weight: bold;
//   font-size: 15px;
//   line-height: 18px;
//   font-family: "Raleway", "Arial", sans-serif;
//   color: #787878;
//   text-transform: uppercase;
//
//   cursor: pointer;
//
//   &:hover {
//     color: #00b0ff;
//   }
// }
//
// .tabs__input:checked + .tabs__label {
//   color: #000000;
//
//   border-bottom: 4px solid #00b0ff;
//   cursor: default;
// }
//
// .tabs__article {
//   display: none;
//   width: 396px;
//   // max-height: 250px;
//   height: 250px;
//   overflow: auto;
// }
//
// .tabs__title {
//   display: none;
// }
//
// .tabs__text {
//   padding-top: 7px;
//
//   font-size: 16px;
//   line-height: 24px;
//   font-family: "Raleway", "Arial", sans-serif;
//   color: #787878;
//
//   animation-name: fadeIn;
//   animation-duration: 1s;
//
//   animation-fill-mode: both;
// }
//
// #tab1:checked ~ #content-tab1,
// #tab2:checked ~ #content-tab2,
// #tab3:checked ~ #content-tab3 {
//   display: block;
//   margin-top: -1px;
//
//   border-top: 1px solid #d9d9d9;
// }
