.team {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 98px 0;

  background-image: url("../img/caption-our-team.svg");
  background-repeat: no-repeat;

  @include container;
}

.team__nav-btn {
  flex-shrink: 0;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  transition: all 0.2s;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 17px;
  border-radius: 50%;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #00b0ff;

    & .team__nav-icon {
      fill: #fff;
    }
  }
}

.team__nav-icon {
  width: 20px;
  height: 20px;
  fill: #0022ff;
}

.team__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 308px;
  margin: 0 30px;
  padding: 0 21px;
}

.team__card {
  position: relative;
  z-index: 1;

  display: none;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  box-sizing: border-box;
  width: 218px;
  height: 278px;
  padding-bottom: 20px;

  font-size: 14px;
  font-family: "Raleway", "Arial", sans-serif;
  color: #8c8c8c;
  text-decoration: none;

  background-color: #ffffff;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s;

  &--show {
    display: flex;
  }

  &:nth-child(2n) {
    z-index: 2;

    align-self: flex-end;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    background-color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);
    transform: scaleX(1.2);
  }

  &:hover {
    z-index: 3;

    color: #ffffff;

    background-color: #00b0ff;

    &::before {
      background-color: #00b0ff;
    }

    & .team__name {
      color: #ffffff;
    }

    & .team__profile::before {
      background-image: url("../img/icon-zigzag-hover.svg");
    }

    & .team__location::before {
      background-image: url("../img/icon-location-pin-hover.svg");
    }
  }
}

.team__avatar {
  margin-top: 30px;

  border: 2px solid #ffffff;
  border-radius: 50%;
}

.team__name {
  margin-top: 10px;
  width: 83%;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;

  font-size: 18px;
  line-height: 21px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: #00b0ff;
}

.team__profile {
  position: relative;

  padding-bottom: 28px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 20px;
    height: 20px;

    background-image: url("../img/icon-zigzag.svg");
    background-repeat: no-repeat;
    transform: translateX(-50%);
  }
}

.team__location {
  position: relative;

  margin-top: 5px;
  padding-left: 18px;

  &::before {
    content: "";
    position: absolute;
    left: 0;

    width: 14px;
    height: 19px;

    background-image: url("../img/icon-location-pin.svg");
    background-repeat: no-repeat;
  }
}
