.updates {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 500px;
  padding-top: 63px;

  @include container;
}

.updates__title {
  position: relative;

  padding-left: 4px;

  font-weight: normal;
  font-size: 18px;
  font-family: "Montserrat", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.7px;

  &::after {
    content: "";
    position: absolute;
    bottom: -21px;
    left: 46%;

    box-sizing: border-box;
    width: 17px;
    height: 1px;

    border: 1px solid #000000;
    transform: rotate(45deg);
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -21px;
    left: 46%;

    box-sizing: border-box;
    width: 17px;
    height: 1px;

    border: 1px solid #000000;
    transform: rotate(-45deg);
  }
}

.updates__posts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 52px;
  margin-bottom: 40px;
}

.updates__post {
  width: 270px;
  margin: 0 15px;

  color: #787878;
  text-decoration: none;

  background-color: #ffffff;

  &:hover {
    color: #0022ff;

    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);
  }
}

.updates__image {
  width: 270px;
  height: 203px;
}

.updates__text {
  margin: 18px 26px 23px;

  font-size: 16px;
  line-height: 24px;
  font-family: "Raleway", "Arial", sans-serif;
}

// .updates__button {
//   padding-bottom: 15px;
//   padding-top: 15px;
// }
