.wrapper-background {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;

  &--sea {
    background-image:
      linear-gradient(to bottom, transparent 40%, white 65%),
      url("../img/surfing.jpg");
  }

  &--surfer {
    background-image:
      // url("../img/about-us-white-mask.png"),
      url("../img/surfing-2.jpg");
    background-position:
      // -48% 413px,
      center 117px;

    &::before {
      position: absolute;
      content: "";
      width: 1156px;
      height: 128px;
      background-image: url("../img/caption-about-us.svg");
      background-repeat: no-repeat;
      background-size: cover;
      top: -3px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
